html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
input[type=number] {
  -moz-appearance: textfield;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text{
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
label{
  display: flex;
  flex-direction: column;
  min-width: 11rem;
}